// .gallery {

// }
.gallery-items {
    display: grid;
    align-items: baseline;
@media screen and (min-width: 320px) {
    grid-column: auto;
    grid-gap: 2em;
    grid-auto-rows: auto;
}
@media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    grid-auto-rows: auto;
}
@media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
}
}

.gallery-card__info {
    color: $accent-color;
}
.gallery-card__title {
margin-top: 10px;
text-transform: uppercase;
@media screen and (min-width: 768px) {
    margin-top: 8px;
}
}
.pages {
    display: flex;
}