$primery-text-color: #FFFFFF;
$primery-font-famaly: Roboto, sans-serif;
$primery-font-weight: 500;
$accent-color: #FF6B08;
* {
    padding: 0;
    margin: 0;
    border: 0;
}
input,
button,
textarea {
font-family: inherit;
}
body {
font-family: $primery-font-famaly;
font-weight: $primery-font-weight;
}
.section {
@media screen and (max-width:767px) {
    padding: 20px;
}

@media screen and (min-width:768px) {
    padding: 60px 70px;
}
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.accent {
    color: $accent-color;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
    color: inherit;
}