<footer class="footer-page section">
    <p class="developer-year">&copy; 2020</p>
    <ul class="options list">
        <li class="option">
            <a class="link" href="">All</a>
        </li>
        <li class="option">
            <a class="link" href="">Rights</a>
        </li>
        <li class="option">
            <a class="link" href="">Reserved</a>
        </li>
        </ul>
    <p class="developer">Developed with
        <svg width="14" height="12">
            <use href="./images/icons.svg#love"></use>
        </svg>
        by <a class="developer__link link" href="">GoIT Students</a>
    </p>
</footer>