<article class="my-library" id="my-library">
    <header class="header-page section overlay">
        <div class="container">
            <ul class="header-items list">
                <li class="header-item">
                    <div class="header-logo">
                        <svg width="24" height="24">
                            <use href="./images/icons.svg#logo"></use>
                        </svg>
                        <p class="header-logo__text">Filmoteka</p>
                    </div>
                </li>
                <li class="header-item">
                    <button class="header-nav__btn">
                        <a class="header-nav__link link" href="index.html">Home</a></button>
                    <button class="header-nav__btn">
                        <a class="header-nav__link--current link" href="my-library.html">My librery</a>
                    </button>
                </li>
            </ul>
            <ul class="header-choise__btns list">
                <li class="header-choise__btn">
                    <button class="header-choise__btn-option">Watched</button>
                </li>
                <li class="header-choise__btn">
                    <button class="header-choise__btn-option">Queue</button>
                </li>
            </ul>
        </div>
    </header>
</article>